body {
    font-family: sans-serif;
}
header a {
    text-decoration: none;
    border: green solid 5px;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    color: black;
    background-color: green;
    font-size:20px;
}
h1 {
    text-align: center;
}
table{
    border-collapse:collapse;
    border:3px solid green;
}
tr {
    border:3px solid green;
    font-size: 20px;
}
td {
    margin: 10px;
    text-align: center;
}
.text-big {
    background-color: blue;
    font-size: 20px;
    width: 250px;
    display: flex;
    
}
h1 {
    text-align-last: center;
}
ul {
    font-size: 20px;
}
nav a {
    text-decoration: none;
    border: green solid 5px;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    color: black;
    background-color: green;
    font-size:20px;
    
}
nav {
    justify-content: space-around;
    display: flex;
}
footer {
    background-color: black;
    font-size: 25px;
    color: white;
    height: 100px;
}
